#vimiumHintMarkerContainer div.internalVimiumHintMarker, #vimiumHintMarkerContainer div.vimiumHintMarker {
  padding: 3px 4px;
  background: #EF9F76; /* peach */
  border: 1;
  border-color: #292C3C; /* mantle */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#vimiumHintMarkerContainer div span {
  color: #292C3C; /* mantle */
  text-shadow: none;
}

#vimiumHintMarkerContainer div > .matchingCharacter {
  opacity: 1.0;
}

#vimiumHintMarkerContainer div > .matchingCharacter ~ span {
  color: #8CAAEE; /* blue */
}

#vomnibar {
  background: #303446; /* base */
  border: 2px solid #BABBF1; /* lavender */ 
  animation: show 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
}

@keyframes show {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#vomnibar input {
  color: #C6D0F5; /* text */
  font: -moz-window;
  background: #303446; /* base */
  border: none;
  padding: 2;
}

#vomnibar .vomnibarSearchArea {
  padding: 10px 30px;
  border: none;
  background: #303446; /* base */
}

#vomnibar ul {
  padding: 0;
  background: #303446; /* base */
  border-top: 1px solid #414559; /* surface0 */
}

#vomnibar li {
  padding: 10px;
  border-bottom: 1px solid #414559; /* surface0 */
}

#vomnibar li .vomnibarTopHalf,
#vomnibar li .vomnibarBottomHalf {
  padding: 3px 0;
}

#vomnibar li .vomnibarSource {
  color: #EF9F76; /* peach */ 
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
  color: #8CAAEE; /* blue */
  font-weight: bold;
}

#vomnibar li .vomnibarUrl {
  color: #F2D5CF; /* rosewater */
}

#vomnibar li .vomnibarMatch {
  color: #A6D189; /* green */
  font-weight: bold;
}

#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: #8CAAEE; /* blue */
}

#vomnibar li.vomnibarSelected {
  background-color: #414559; /* surface0 */
}

div.vimiumHUD {
  background: #303446; /* base */
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

div.vimiumHUD span#hud-find-input,
div.vimiumHUD .vimiumHUDSearchAreaInner {
  color: #C6D0F5; /* text */
}

div.vimiumHUD .hud-find {
  background-color: #303446; /* base */
  border: none;
}

div.vimiumHUD .vimiumHUDSearchArea {
  background-color: #303446; /* base */
}
