/* Frappe palette */

:root {
  --vimium-rosewater: #f2d5cf;
  --vimium-peach: #ef9f76;
  --vimium-blue: #8caaee;
  --vimium-lavender: #babbf1;
  --vimium-green: #a6d189;
  --vimium-text: #c6d0f5;
  --vimium-surface2: #626880;
  --vimium-surface0: #414559;
  --vimium-base: #303446;
  --vimium-mantle: #292c3c;
}
