/* Frappe palette */

:root {
  --rosewater: #f2d5cf;
  --peach: #ef9f76;
  --blue: #8caaee;
  --lavender: #babbf1;
  --green: #a6d189;
  --text: #c6d0f5;
  --surface2: #626880;
  --surface0: #414559;
  --base: #303446;
  --mantle: #292c3c;
}
