/* Latte palette */

:root {
  --rosewater: #dc8a78;
  --peach: #fe640b;
  --green: #40a02b;
  --blue: #1e66f5;
  --lavender: #7287fd;
  --text: #4c4f69;
  --surface2: #acb0be;
  --surface0: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
}
