/* Latte palette */

:root {
  --vimium-rosewater: #dc8a78;
  --vimium-peach: #fe640b;
  --vimium-green: #40a02b;
  --vimium-blue: #1e66f5;
  --vimium-lavender: #7287fd;
  --vimium-text: #4c4f69;
  --vimium-surface2: #acb0be;
  --vimium-surface0: #ccd0da;
  --vimium-base: #eff1f5;
  --vimium-mantle: #e6e9ef;
}
