/* Macchiato palette */

:root {
  --vimium-rosewater: #f4dbd6;
  --vimium-peach: #f5a97f;
  --vimium-green: #a6da95;
  --vimium-blue: #8aadf4;
  --vimium-lavender: #b7bdf8;
  --vimium-text: #cad3f5;
  --vimium-surface2: #5b6078;
  --vimium-surface0: #363a4f;
  --vimium-base: #24273a;
  --vimium-mantle: #1e2030;
}
