/* Macchiato palette */

:root {
  --rosewater: #f4dbd6;
  --peach: #f5a97f;
  --green: #a6da95;
  --blue: #8aadf4;
  --lavender: #b7bdf8;
  --text: #cad3f5;
  --surface2: #5b6078;
  --surface0: #363a4f;
  --base: #24273a;
  --mantle: #1e2030;
}
