/* Mocha palette */

:root {
  --vimium-rosewater: #f5e0dc;
  --vimium-peach: #fab387;
  --vimium-green: #a6e3a1;
  --vimium-blue: #89b4fa;
  --vimium-lavender: #b4befe;
  --vimium-text: #cdd6f4;
  --vimium-surface2: #585b70;
  --vimium-surface0: #313244;
  --vimium-base: #1e1e2e;
  --vimium-mantle: #181825;
}
