/* Mocha palette */

:root {
  --rosewater: #f5e0dc;
  --peach: #fab387;
  --green: #a6e3a1;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --surface2: #585b70;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
}
